/* widget style */
#star { 
  width: 50px; 
  border: 1px solid #999;
  font-family: Georgia,"Times New Roman", serif;
  line-height: 1; 
  position: absolute; 
  top: 0; 
  /*left: -4.8em; */
  width: 3.5em;
  border-radius: 4px;
}

#star div {
  display: block; 
  text-align: center; 
}

.star_top {
  font-size: 1em; 
}

.star_bottom {
  background-color: #2358B8;
  color: #FFF; 
  font-size: 1.2em; 
  padding: 0.3em 0; 
  margin-top: 0.3em;
}
